.campus {
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.picture-section {
  margin-top: 50px;
}

.picture-section img {
  width: 100%;
  max-width: 500px;
  margin: 10px 0;
}
